* {
  font-family: "Encode Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: 700;
  color: #ffe8c6 !important;
  stroke: #361500;
  font-style: italic;
}

.coklat {
  color: #361500 !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 21vh;
  left: 50vh;
  right: 50vh;
  padding-bottom: 10vh;
}

.header {
  color: white;
  text-align: center;
}

.header h1 {
  font-weight: 700;
}

.tombol {
  margin-top: 2em;
  position: relative;
}

.tombol a {
  text-decoration: none;
  font-weight: 600;
  font-size: large;
}

.order {
  background-color: #cc9544;
  color: white;
  padding: 1em 2em;
  transition-duration: 0.3s;
  border-radius: 10px;
  display: block;
}

.order:hover {
  background-color: #e0b472;
  color: white !important;
}

.subs {
  color: white;
  padding: 1em 2em;
  transition-duration: 0.3s;
  border-radius: 10px;
  display: block;
}

.subs:hover {
  background-color: #8ca6fd !important;
  color: white;
}

.login {
  background-color: rgb(91, 194, 91);
  color: white;
  padding: 1em 2em;
  transition-duration: 0.3s;
  border-radius: 10px;
  display: block;
}

.login:hover {
  color: white;
  background-color: rgb(122, 189, 122);
}

.logout {
  background-color: rgb(255, 66, 66);
  color: white;
  padding: 1em 2em;
  transition-duration: 0.3s;
  border-radius: 10px;
  display: block;
}

.logout:hover {
  color: white;
  background-color: rgb(255, 152, 152);
}

.tentang {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.head h1 {
  font-weight: 700;
  margin-bottom: 1em;
  color: #361500;
}

.cewe {
  max-width: 400px;
}

.kopi-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20vh;
  padding-top: 10vh;
}

.judul-kopi {
  margin-bottom: 2em;
  text-align: center;
}

.judul-kopi h1 {
  font-weight: 700;
  color: #361500;
}

.card {
  border: 1px solid #cc9544;
  transition-duration: 0.3s;
}

.card:hover {
  background-color: #cc9544;
}

h5 {
  font-weight: 600 !important;
  color: #361500;
}

.card-body h2 {
  font-weight: 600;
  color: #361500;
}

.alasan-container {
  padding-top: 25vh;
  padding-bottom: 15vh;
}

.alasan-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.mengapa h1 {
  font-weight: 700;
  color: #361500;
}

.testi {
  margin-bottom: 20vh;
}

.itemitem {
  margin-bottom: 10vh;
  text-align: center;
  padding: 0 30vw;
}

.miring {
  font-style: italic;
}

.testi-head {
  margin-bottom: 10vh;
}

.testi-head h1 {
  font-weight: 700;
  color: #361500;
}

.kontak-container h1 {
  font-weight: 700;
  color: #361500;
}

.jarak {
  margin-bottom: 5vh;
}

#kontak {
  padding: 15vh 0;
}

.testimonial-container {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.ijo {
  color: greenyellow;
}

.footer-container {
  background-color: #1c0a00;
  padding-top: 10vh;
}

.menu-container h5 {
  color: white !important;
  font-weight: 400 !important;
}

.menu-container p {
  font-weight: 300;
}

.menu-container {
  color: white;
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.pesen {
  background-color: #cc9544 !important;
  border: none;
}

.isi-sosmed h5 {
  color: white !important;
  font-weight: 400 !important;
  text-align: center;
}

.copyright {
  border-top: solid 1px #cc9544;
  padding-top: 2vh;
}

.love {
  color: white;
  display: inline;
}

.resize {
  resize: none;
}

.merah {
  color: red;
}