@media only screen and (max-width: 991px) {
  .none {
    display: none;
  }
  
  .block {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    margin: 20vh 20vw;
  }

  .hero .header h1 {
    color: #361500;
    font-size: 80px;
  }

  .hero .header p {
    color: rgb(49, 49, 49);
  }

  .tombol {
    align-items: center;
  }

  .tentang {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
  }

  .cewe {
    display: none;
  }

  .head {
    text-align: center;
  }

  .head h1 {
    font-size: 100px;
  }

  .head p {
    font-size: 30px;
  }

  .alasan-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20vh;
  }

  .alasan-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin-top: 10vh;
  }

  .mengapa {
    text-align: center;
  }

  .form-container {
    margin-top: 10vh;
  }
}
