* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 2em 3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20em;
}

.form input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(90, 90, 90);
    margin-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5rem;
}

.container {
    margin-top: 7em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gambar {
    display: flex;
    flex-direction: column;
    margin-left: 20em;
}

.gambar h1 {
    color: #603601;
    font-size: 2rem;
}

.gambar p {
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(49, 49, 49);
}

label {
    font-weight: 600;
    color: rgb(49, 49, 49);
}

.username, .password, .submit {
    margin-top: 2em;
}

.submit {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.7em 5em;
    background-color: #361500;
    color: white;
    outline: none;
    border-style: none;
    transition-duration: 0.3s;
}

.submit:hover {
    background-color: #603601;
}

.submit:active {
    background-color: #CC9544;
    color: #361500;
}

.error {
    color: red;
    margin-top: 1em;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3em;
    }

    .gambar {
        margin-left: 0;
        margin: 0 2em;
    }

    .img {
        display: none;
    }

    .form {
        margin-right: 0;
        margin-top: 3em;
        padding: 2em;
    }
}

@media only screen and (min-width: 1360px) {
    .gambar {
        margin-left: 12em;
        margin: 0 2em;
    }

    .form {
        margin-right: 7em;
        padding: 2em 3em;
    }

    .container {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        margin-top: 7em;
    }
}