* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif !important;
}

.lebar {
    width: 50vw;
}

.tinggi {
    height: 100vh;
}

.bg1 {
    background-color: #EEBED3;
}

.warna1 {
    color: #c07396;
}

.bg2 {
    background-color: #FCF0E3;
}

.warna2 {
    color: #b49a7b;
}

.warna3 {
    color: #d3c3b1;
}

.coklat {
    color: #cc9544;
}

.lupa {
    text-decoration: none;
    color: #361500;
    background: none;
    border: none;
    outline: none;
}

.coklattua {
    background-color: #361500 !important;
    transition-duration: 0.3s;
}

.coklattua:hover {
    background-color: #883806 !important;
}

@media only screen and (max-width: 992px) {
    .tinggi {
        height: 40vh;
    }

    .lebar {
        width: 100% !important;
    }

    .gambar {
        width: 70vw;
    }

}